<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Job Details</h4>

                    </div>

                    <div class="card-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <form>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" readonly value="Name" />
                                        <br>
                                        <label>Email</label>
                                        <input type="text" class="form-control" readonly value="Email" />
                                        <br>

                                        <label>Job Title</label>
                                        <input type="text" class="form-control" readonly value="Job Title" />
                                        <br>
                                        <label>Active</label>
                                        <input type="text" class="form-control" readonly value="Active" />
                                        <br>
                                        <label>Phone Number</label>
                                        <input type="text" class="form-control" readonly value="Phone Number" />
                                        <br>
                                        <label>Date</label>
                                        <input type="text" class="form-control" readonly value="Date" />
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>