<div class="modal-content">
    <div class="modal-body">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', primaryColor:'#C52828' }"></ngx-loading>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-nav-tabs">
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Add Job</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <form name="jobForm" id="jobForm" #jobForm="ngForm">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <input type="text" class="form-control" name="title" [(ngModel)]="title" #jobTitle="ngModel" required/>
                                            <div *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)" style="color:red;">
                                                <div *ngIf="jobTitle.errors.required">
                                                    Job title is required.
                                                </div>
                                            </div>
                                            <br>
                                            <label>Description</label>
                                            <textarea class="form-control" [(ngModel)]="description" name="description" #jobDescription="ngModel" required></textarea>
                                            <div *ngIf="jobDescription.invalid && (jobDescription.dirty || jobDescription.touched)" style="color:red;">
                                                <div *ngIf="jobDescription.errors.required">
                                                    Job description is required.
                                                </div>
                                            </div>
                                            <br>
                                            <label>Requirements</label>
                                            <textarea class="form-control" [(ngModel)]="requirements" name="requirements" #jobRequirements="ngModel" required></textarea>
                                            <div *ngIf="jobRequirements.invalid && (jobRequirements.dirty || jobRequirements.touched)" style="color:red;">
                                                <div *ngIf="jobRequirements.errors.required">
                                                    Job requirements is required.
                                                </div>
                                            </div>
                                            <br>
                                            <label>Funding</label>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Self</label>
                                                        <input type="radio" name="funding" value="Self" id="funding" [(ngModel)]="funding" #jobFunding="ngModel" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Department</label>
                                                        <input type="radio" name="funding" value="Department" id="funding" [(ngModel)]="funding" #jobFunding="ngModel" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="jobFunding.invalid && (jobFunding.dirty || jobFunding.touched)" style="color:red;">
                                                <div *ngIf="jobFunding.errors.required">
                                                    Job funding is required.
                                                </div>
                                            </div>
                                            <br>
                                            <label>Position for</label>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Undergraduate</label>
                                                        <input type="radio" name="positionfor" value="Self" id="funding" [(ngModel)]="positionfor" #jobPositionFor="ngModel" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Graduate</label>
                                                        <input type="radio" name="positionfor" value="Department" id="funding" [(ngModel)]="positionfor" #jobPositionFor="ngModel" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="jobPositionFor.invalid && (jobPositionFor.dirty || jobPositionFor.touched)" style="color:red;">
                                                <div *ngIf="jobPositionFor.errors.required">
                                                    Job position is required.
                                                </div>
                                            </div>
                                            <br>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Wage</label>
                                                        <input type="number" class="form-control" name="wage" [(ngModel)]="wage" #jobWage="ngModel" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Hours per week</label>
                                                        <input type="number" class="form-control" name="hrsperweek" [(ngModel)]="hrsperweek" #jobHrsPerWeek="ngModel" required/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Resources</label>
                                                        <input type="number" class="form-control" name="resources" [(ngModel)]="resources" #jobResources="ngModel" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="jobWage.invalid && (jobWage.dirty || jobWage.touched)" style="color:red;">
                                                <div *ngIf="jobWage.errors.required">
                                                    Job wage is required.
                                                </div>
                                            </div>
                                            <div *ngIf="jobHrsPerWeek.invalid && (jobHrsPerWeek.dirty || jobHrsPerWeek.touched)" style="color:red;">
                                                <div *ngIf="jobWage.errors.required">
                                                    Job hours per week is required.
                                                </div>
                                            </div>
                                            <div *ngIf="jobResources.invalid && (jobResources.dirty || jobResources.touched)" style="color:red;">
                                                <div *ngIf="jobWage.errors.required">
                                                    Job resources is required.
                                                </div>
                                            </div>
                                            <br>
                                            <label>Term</label>
                                            <mat-table [dataSource]="datasource" matSort>
                                                <ng-container matColumnDef="name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                                    <mat-cell *matCellDef="let vterm"> {{vterm.name}} </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="status">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                                    <mat-cell *matCellDef="let vterm"> {{vterm.status}} </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="from">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
                                                    <mat-cell *matCellDef="let vterm"> {{vterm.from | date: 'MM/dd/yyyy'}} </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="to">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
                                                    <mat-cell *matCellDef="let vterm"> {{vterm.to | date: 'MM/dd/yyyy'}} </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="action">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                                    <mat-cell *matCellDef="let vterm">
                                                        <span>
                                                            <input type="radio" value="{{vterm._id}}" name="term" [(ngModel)]="term" #jobTerm="ngModel" />
                                                        </span>
                                                    </mat-cell>
                                                </ng-container>
                                                <mat-header-row *matHeaderRowDef="displayedColumns" class="header-style"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns" class="row-style"></mat-row>
                                            </mat-table>
                                            <mat-paginator [pageSize]="10">
                                            </mat-paginator>
                                            <br>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <label>Application deadline</label>
                                                        <ng-datepicker [(ngModel)]="deadline" name="deadline" required #jobDeadline="ngModel" required></ng-datepicker>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Start date</label>
                                                        <ng-datepicker [(ngModel)]="startdate" name="startdate" required #jobStartDate="ngModel" required></ng-datepicker>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>End date</label>
                                                        <ng-datepicker [(ngModel)]="enddate" name="enddate" required #jobEndDate="ngModel" required></ng-datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="jobDeadline.invalid && (jobDeadline.dirty || jobDeadline.touched)" style="color:red;">
                                                <div *ngIf="jobDeadline.errors.required">
                                                    Job application deadline is required.
                                                </div>
                                            </div>
                                            <div *ngIf="jobStartDate.invalid && (jobStartDate.dirty || jobStartDate.touched)" style="color:red;">
                                                <div *ngIf="jobStartDate.errors.required">
                                                    Job start date deadline is required.
                                                </div>
                                            </div>
                                            <div *ngIf="jobEndDate.invalid && (jobEndDate.dirty || jobEndDate.touched)" style="color:red;">
                                                <div *ngIf="jobStartDate.errors.required">
                                                    Job end date deadline is required.
                                                </div>
                                            </div>
                                            <br>
                                            <label>Faculty Comments</label>
                                            <textarea class="form-control" [(ngModel)]="facultycomment" name="facultycomment"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="submit" class="btn btn-success" [disabled]="!jobForm.form.valid">Save</button>
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>
    </div>
</div>