<div class="main-content">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', primaryColor:'#C52828' }"></ngx-loading>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-12">
                                <div class="card card-nav-tabs">
                                        <div class="card-header" data-background-color="purple">
                                                <h4 class="title">Terms</h4>
                                        </div>
                                        <div class="card-content">
                                                <div class="example-container mat-table">
                                                        <div>
                                                                <button class="btn btn-md btn-success" (click)="opendialog()">Add Term</button>
                                                        </div>
                                                        <br>
                                                        <div>
                                                                <input type="text" class="form-control" placeholder="Filter" style="width: 500px;" (keyup)="applyFilter($event.target.value)">
                                                        </div>
                                                        <br>
                                                        <mat-table [dataSource]="datasource" matSort>
                                                                <ng-container matColumnDef="name">
                                                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                                                        <mat-cell *matCellDef="let term"> {{term.name}} </mat-cell>
                                                                </ng-container>
                                                                <ng-container matColumnDef="status">
                                                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                                                        <mat-cell *matCellDef="let term"> {{term.status}} </mat-cell>
                                                                </ng-container>
                                                                <ng-container matColumnDef="from">
                                                                        <mat-header-cell *matHeaderCellDef mat-sort-header> From </mat-header-cell>
                                                                        <mat-cell *matCellDef="let term"> {{term.from | date: 'MM/dd/yyyy'}} </mat-cell>
                                                                </ng-container>
                                                                <ng-container matColumnDef="to">
                                                                        <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
                                                                        <mat-cell *matCellDef="let term"> {{term.to | date: 'MM/dd/yyyy'}} </mat-cell>
                                                                </ng-container>
                                                                <ng-container matColumnDef="type">
                                                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                                                                        <mat-cell *matCellDef="let term"> {{term.type}} </mat-cell>
                                                                </ng-container>>
                                                                <ng-container matColumnDef="action">
                                                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                                                        <mat-cell *matCellDef="let term">
                                                                                <span>
                                                                                        <button style="background: transparent; border:none; color: #00BCD4;" (click)="viewterm(term)">
                                                                                                <i class="material-icons">visibility</i>
                                                                                        </button>
                                                                                        <button style="background: transparent; border:none; color:#FF9800;" (click)="editterm(term)">
                                                                                                <i class="material-icons">mode_edit</i>
                                                                                        </button>
                                                                                        <button style="background: transparent; border:none; color:#C62828;" (click)="deleteterm(term)">
                                                                                                <i class="material-icons">delete</i>
                                                                                        </button>
                                                                                </span>
                                                                        </mat-cell>
                                                                </ng-container>
                                                                <mat-header-row *matHeaderRowDef="displayedColumns" class="header-style"></mat-header-row>
                                                                <mat-row *matRowDef="let row; columns: displayedColumns" class="row-style"></mat-row>
                                                        </mat-table>
                                                        <mat-paginator [pageSize]="10">
                                                        </mat-paginator>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>