<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Current Jobs</h4>
                    </div>
                    <div class="card-content">
                        <data-table-grid></data-table-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>